<!-- Vi opdeler med content_for så vi kan styre hvad der bliver indsat hvor i viewer.html.erb under layouts -->
<% content_for :head do %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title><%= content_for?(:title) ? yield(:title) : "Kruby" %></title>
<meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Kruby" %>">
<link href="/assets/mini.gif" rel="shortcut icon"/>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= google_font_link_tag 'Ubuntu:400,500,700'%>
  <%= google_font_link_tag 'Fontdiner+Swanky'%>
  <%= google_font_link_tag 'Just+Me+Again+Down+Here'%>
  <%#= google_font_link_tag 'Oswald:300,400,700,'%>
  <%#= google_font_link_tag 'Roboto:400,400italic,500,500italic,700,700italic,900,900italic,'%>
  <%= google_font_link_tag 'Open+Sans+Condensed:700|Open+Sans:600,400,300'%>
<% end%>

<% content_for :body do %>
  <%= render :partial => "viewer/partials/social_links_large_format.html.erb" %>
  <header>
    <%= image_tag "kruby_logo_top.png", :class => 'img-responsive', :alt => 'Kruby' %>
    <%= render 'menusystem/navigation' %>
  </header>
  <main role="main">
    <%= render 'viewer/partials/messages' %>
  </main>
  <div class="container">
    <h1 class="forside">The Original Racing Collection <small class="forside">køb dit Gulf tøj her</small></h1>
    <div data-accent_color="767676" data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-cart_button_text="Cart" data-cart_title="The Original Racing Collection" data-cart_total_text="Total" data-checkout_button_text="Kassen" data-discount_notice_text="Levering og rabat koder tilføjes ved kassen." data-embed_type="cart" data-empty_cart_text="Din kurv er tom" data-shop="the-original-racing-collection.myshopify.com" data-sticky="true" data-text_color="000000"></div>
    <div data-background_color="ffffff" data-button_background_color="7fb466" data-button_text_color="ffffff" data-buy_button_out_of_stock_text="Ikke på lager" data-buy_button_product_unavailable_text="Ikke på lager" data-buy_button_text="Køb nu" data-collection_handle="kruby" data-display_size="compact" data-embed_type="collection" data-has_image="true" data-next_page_button_text="Næste side" data-product_handle="" data-product_modal="true" data-product_name="" data-product_title_color="000000" data-redirect_to="modal" data-shop="the-original-racing-collection.myshopify.com"></div>
    <script type="text/javascript">document.getElementById('ShopifyEmbedScript') || document.write('<script type="text/javascript" src="https://widgets.shopifyapps.com/assets/widgets/embed/client.js" id="ShopifyEmbedScript"><\/script>');</script>
  </div>
<% end %>